# J235 NEW

In [2]:
import pandas as pd
import numpy as np

In [10]:
file = pd. ExcelFile('sub.xlsx')
j235new = pd. read_excel(file, 'j235new')
jordan235new = pd. read_excel(file, 'jordan235')

In [11]:
j235new

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,1,Point,436123,5826713,6242.334577,-6040.339266,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,421145,5841205,-0.5,0.5
1,2,Point,435924,5828006,6159.391321,-5501.365682,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,449835,5816145,11957.5,-10445.5
2,3,Point,436458,5827661,6381.962670,-5645.175339,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,4,Point,436166,5828564,6260.256988,-5268.769194,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,5,Point,436283,5826144,6309.022621,-6277.520990,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,162,Point,435330,5827790,5911.811955,-5591.403033,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
160,163,Point,433577,5827915,5181.161067,-5539.298085,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
161,378,Point,437441,5827198,6791.677344,-5838.172067,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
162,381,Point,435778,5828861,6098.538480,-5144.967837,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
163,921,Point,436243,5825970,6292.350610,-6350.051077,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [12]:
x235newcord_list = j235new['x'].to_list()
# len(xcord_list)
x235newcord_list
y235newcord_list = j235new['y'].to_list()
# len(xcord_list)
y235newcord_list

[5826713,
 5828006,
 5827661,
 5828564,
 5826144,
 5828316,
 5828237,
 5827166,
 5828586,
 5826387,
 5827689,
 5828116,
 5827992,
 5829145,
 5827320,
 5828998,
 5828926,
 5829277,
 5827663,
 5827902,
 5827825,
 5831157,
 5827419,
 5827966,
 5828903,
 5828271,
 5828289,
 5827682,
 5827967,
 5827028,
 5827713,
 5828018,
 5827903,
 5828090,
 5826593,
 5828587,
 5828109,
 5831108,
 5827250,
 5827585,
 5827736,
 5828387,
 5827477,
 5827445,
 5826777,
 5827723,
 5828245,
 5828289,
 5830044,
 5828828,
 5826451,
 5831494,
 5827901,
 5827462,
 5826871,
 5828931,
 5828308,
 5830782,
 5830715,
 5827250,
 5828795,
 5827798,
 5827436,
 5827697,
 5827476,
 5828460,
 5828195,
 5827506,
 5827405,
 5831509,
 5829758,
 5828622,
 5830874,
 5827635,
 5826751,
 5826544,
 5827679,
 5826479,
 5828610,
 5828727,
 5831180,
 5831476,
 5828679,
 5827795,
 5826587,
 5831434,
 5827507,
 5828739,
 5828014,
 5828285,
 5831123,
 5827911,
 5828107,
 5828975,
 5827196,
 5829831,
 5827522,
 5831316,
 5827633,
 5830956,
 5828662,
 5829697,
 5828208,
 5830800,
 5830712,
 5827409,
 5827366,
 5828325,
 5826927,
 5828442,
 5828201,
 5829111,
 5826486,
 5828409,
 5827714,
 5828113,
 5827926,
 5827513,
 5827314,
 5829980,
 5826999,
 5828445,
 5828094,
 5826766,
 5831087,
 5828983,
 5827000,
 5828431,
 5828464,
 5829129,
 5826962,
 5828242,
 5827438,
 5827291,
 5827899,
 5826747,
 5827885,
 5828797,
 5827728,
 5827816,
 5828635,
 5827920,
 5831016,
 5827236,
 5828069,
 5828257,
 5828955,
 5828116,
 5828266,
 5831538,
 5827360,
 5826699,
 5829173,
 5827929,
 5828063,
 5830213,
 5827031,
 5828382,
 5827886,
 5827790,
 5827915,
 5827198,
 5828861,
 5825970]

In [13]:
jordan235new

,id,label,x,y,targets,dateTimeLocal,dateTimeUTC
0,0,JORDAN_235_P1_201901281204_MGA94_55,436123,5826713,1.0,28/01/2019 12:04,28/01/2019 1:04
1,1,JORDAN_235_P1_201901281204_MGA94_55,435924,5828006,1.0,28/01/2019 12:04,28/01/2019 1:04
2,2,JORDAN_235_P1_201901281204_MGA94_55,436458,5827661,1.0,28/01/2019 12:04,28/01/2019 1:04
3,3,JORDAN_235_P1_201901281204_MGA94_55,436166,5828564,1.0,28/01/2019 12:04,28/01/2019 1:04
4,4,JORDAN_235_P1_201901281204_MGA94_55,436283,5826144,1.0,28/01/2019 12:04,28/01/2019 1:04
...,...,...,...,...,...,...,...
995,995,JORDAN_235_P1_201901281204_MGA94_55,432357,5824848,NaN,28/01/2019 12:04,28/01/2019 1:04
996,996,JORDAN_235_P1_201901281204_MGA94_55,428698,5827598,NaN,28/01/2019 12:04,28/01/2019 1:04
997,997,JORDAN_235_P1_201901281204_MGA94_55,431145,5826783,NaN,28/01/2019 12:04,28/01/2019 1:04
998,998,JORDAN_235_P1_201901281204_MGA94_55,436867,5826310,NaN,28/01/2019 12:04,28/01/2019 1:04
999,999,JORDAN_235_P1_201901281204_MGA94_55,436771,5832052,NaN,28/01/2019 12:04,28/01/2019 1:04

In [14]:
jordan235new['target'] = np.where( (jordan235new['x'].isin(x235newcord_list) & (jordan235new['y'].isin(y235newcord_list) )), 1, 0)

In [15]:
jordan235new = jordan235new.drop('targets', axis =1)

In [16]:
jordan235new

,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,0,JORDAN_235_P1_201901281204_MGA94_55,436123,5826713,28/01/2019 12:04,28/01/2019 1:04,1
1,1,JORDAN_235_P1_201901281204_MGA94_55,435924,5828006,28/01/2019 12:04,28/01/2019 1:04,1
2,2,JORDAN_235_P1_201901281204_MGA94_55,436458,5827661,28/01/2019 12:04,28/01/2019 1:04,1
3,3,JORDAN_235_P1_201901281204_MGA94_55,436166,5828564,28/01/2019 12:04,28/01/2019 1:04,1
4,4,JORDAN_235_P1_201901281204_MGA94_55,436283,5826144,28/01/2019 12:04,28/01/2019 1:04,1
...,...,...,...,...,...,...,...
995,995,JORDAN_235_P1_201901281204_MGA94_55,432357,5824848,28/01/2019 12:04,28/01/2019 1:04,0
996,996,JORDAN_235_P1_201901281204_MGA94_55,428698,5827598,28/01/2019 12:04,28/01/2019 1:04,0
997,997,JORDAN_235_P1_201901281204_MGA94_55,431145,5826783,28/01/2019 12:04,28/01/2019 1:04,0
998,998,JORDAN_235_P1_201901281204_MGA94_55,436867,5826310,28/01/2019 12:04,28/01/2019 1:04,0
999,999,JORDAN_235_P1_201901281204_MGA94_55,436771,5832052,28/01/2019 12:04,28/01/2019 1:04,0

# J 294

In [3]:
file = pd. ExcelFile('sub.xlsx')
j294 = pd. read_excel(file, 'j294')
jordan294 = pd. read_excel(file, 'jordan294')

In [4]:
j294

,ObjectID *,Shape *,FID_j294,targetid,label,x,y,dateTimeLocal,dateTimeUTC,target,...,Source,SourceName,Type,dtString,Comments,dtUTC,dtLocal,ID,event,Shape_Leng
0,13,Point,1,1000,JORDAN_294_P1_201902011150_MGA94_55,441973,5818162,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main run,2019-02-01 20:45:59,,2019-02-01 09:45:59,2019-02-01 20:45:59,701,Latrobe86,52409.029115
1,67,Point,2,1001,JORDAN_294_P1_201902011150_MGA94_55,439741,5824011,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main Run,2019-02-01 20:45:59,west not scanned,2019-02-01 09:45:59,2019-02-01 20:45:59,689,Latrobe86,108551.729355
2,154,Point,3,1002,JORDAN_294_P1_201902011150_MGA94_55,435364,5828594,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main Run,2019-02-01 20:45:59,west not scanned,2019-02-01 09:45:59,2019-02-01 20:45:59,689,Latrobe86,108551.729355
3,110,Point,4,1003,JORDAN_294_P1_201902011150_MGA94_55,438875,5826479,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main Run,2019-02-01 20:45:59,west not scanned,2019-02-01 09:45:59,2019-02-01 20:45:59,689,Latrobe86,108551.729355
4,172,Point,5,1004,JORDAN_294_P1_201902011150_MGA94_55,431573,5830137,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main Run,2019-02-01 20:45:59,west not scanned,2019-02-01 09:45:59,2019-02-01 20:45:59,689,Latrobe86,108551.729355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,15,Point,727,1726,JORDAN_294_P1_201902011150_MGA94_55,442873,5818287,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main run,2019-02-01 20:45:59,,2019-02-01 09:45:59,2019-02-01 20:45:59,701,Latrobe86,52409.029115
178,3,Point,768,1767,JORDAN_294_P1_201902011150_MGA94_55,443219,5815539,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main run,2019-02-01 20:45:59,,2019-02-01 09:45:59,2019-02-01 20:45:59,686,Latrobe86,9864.435306
179,26,Point,777,1776,JORDAN_294_P1_201902011150_MGA94_55,443195,5820069,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main run,2019-02-01 20:45:59,,2019-02-01 09:45:59,2019-02-01 20:45:59,690,Latrobe86,6367.916919
180,152,Point,898,1897,JORDAN_294_P1_201902011150_MGA94_55,433083,5828537,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main Run,2019-02-01 20:45:59,west not scanned,2019-02-01 09:45:59,2019-02-01 20:45:59,689,Latrobe86,108551.729355
181,9,Point,941,1940,JORDAN_294_P1_201902011150_MGA94_55,443303,5817380,2019-01-02 11:50:00,2019-01-02 00:50:00,<Null>,...,Linescan,JORDAN_294_P1_201902011150_MGA94_55,Main run,2019-02-01 20:45:59,,2019-02-01 09:45:59,2019-02-01 20:45:59,701,Latrobe86,52409.029115

In [5]:
x294cord_list = j294['x'].to_list()
# len(xcord_list)
x294cord_list
y294cord_list = j294['y'].to_list()
# len(xcord_list)
x294cord_list

[441973,
 439741,
 435364,
 438875,
 431573,
 434486,
 438485,
 438718,
 435156,
 437404,
 437621,
 437099,
 435647,
 436514,
 441062,
 441182,
 438051,
 432800,
 442522,
 437007,
 442857,
 435810,
 430090,
 435948,
 443638,
 430383,
 435694,
 440986,
 440199,
 433705,
 438840,
 442987,
 440948,
 441408,
 439626,
 439548,
 441016,
 438647,
 431446,
 437858,
 436742,
 437113,
 442168,
 432082,
 440657,
 436354,
 439774,
 441020,
 436968,
 443486,
 438459,
 432562,
 434956,
 432746,
 442457,
 440487,
 441031,
 437603,
 432641,
 441449,
 437164,
 431735,
 434419,
 439604,
 438410,
 431929,
 440194,
 438068,
 434351,
 438572,
 441607,
 434405,
 439061,
 433546,
 433645,
 436531,
 434431,
 435204,
 434203,
 439873,
 435252,
 439160,
 437485,
 441610,
 441209,
 442278,
 443503,
 437060,
 437410,
 440950,
 440001,
 440374,
 435202,
 439184,
 438691,
 437099,
 440461,
 439556,
 440789,
 440224,
 438340,
 439378,
 433117,
 438941,
 441495,
 441174,
 439311,
 432104,
 440687,
 434614,
 439910,
 440420,
 439923,
 443001,
 442095,
 438051,
 434868,
 439322,
 437375,
 430663,
 437738,
 434116,
 439797,
 433206,
 437924,
 433898,
 438403,
 439172,
 434066,
 436357,
 436227,
 436329,
 438989,
 438646,
 439604,
 436719,
 437079,
 436352,
 439969,
 437858,
 438540,
 432360,
 435291,
 438978,
 435168,
 430593,
 439710,
 438700,
 440882,
 433479,
 439153,
 440213,
 431447,
 433598,
 437646,
 437938,
 440099,
 436689,
 437926,
 437166,
 436901,
 438283,
 438197,
 441598,
 431361,
 440953,
 441287,
 440921,
 437318,
 434810,
 441428,
 439310,
 433961,
 442886,
 442480,
 443632,
 441204,
 442873,
 443219,
 443195,
 433083,
 443303]

In [6]:
jordan294

,id,label,x,y,dateTimeLocal,dateTimeUTC
0,1000,JORDAN_294_P1_201902011150_MGA94_55,441973,5818162,2019-01-02 11:50:00,2019-01-02 00:50:00
1,1001,JORDAN_294_P1_201902011150_MGA94_55,439741,5824011,2019-01-02 11:50:00,2019-01-02 00:50:00
2,1002,JORDAN_294_P1_201902011150_MGA94_55,435364,5828594,2019-01-02 11:50:00,2019-01-02 00:50:00
3,1003,JORDAN_294_P1_201902011150_MGA94_55,438875,5826479,2019-01-02 11:50:00,2019-01-02 00:50:00
4,1004,JORDAN_294_P1_201902011150_MGA94_55,431573,5830137,2019-01-02 11:50:00,2019-01-02 00:50:00
...,...,...,...,...,...,...
995,1995,JORDAN_294_P1_201902011150_MGA94_55,426092,5826783,2019-01-02 11:50:00,2019-01-02 00:50:00
996,1996,JORDAN_294_P1_201902011150_MGA94_55,433882,5824840,2019-01-02 11:50:00,2019-01-02 00:50:00
997,1997,JORDAN_294_P1_201902011150_MGA94_55,429901,5832712,2019-01-02 11:50:00,2019-01-02 00:50:00
998,1998,JORDAN_294_P1_201902011150_MGA94_55,430063,5830582,2019-01-02 11:50:00,2019-01-02 00:50:00
999,1999,JORDAN_294_P1_201902011150_MGA94_55,434723,5821075,2019-01-02 11:50:00,2019-01-02 00:50:00

In [7]:
jordan294['target'] = np.where( (jordan294['x'].isin(x294cord_list) & (jordan294['y'].isin(y294cord_list) )), 1, 0)

In [8]:
jordan294

,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,1000,JORDAN_294_P1_201902011150_MGA94_55,441973,5818162,2019-01-02 11:50:00,2019-01-02 00:50:00,1
1,1001,JORDAN_294_P1_201902011150_MGA94_55,439741,5824011,2019-01-02 11:50:00,2019-01-02 00:50:00,1
2,1002,JORDAN_294_P1_201902011150_MGA94_55,435364,5828594,2019-01-02 11:50:00,2019-01-02 00:50:00,1
3,1003,JORDAN_294_P1_201902011150_MGA94_55,438875,5826479,2019-01-02 11:50:00,2019-01-02 00:50:00,1
4,1004,JORDAN_294_P1_201902011150_MGA94_55,431573,5830137,2019-01-02 11:50:00,2019-01-02 00:50:00,1
...,...,...,...,...,...,...,...
995,1995,JORDAN_294_P1_201902011150_MGA94_55,426092,5826783,2019-01-02 11:50:00,2019-01-02 00:50:00,0
996,1996,JORDAN_294_P1_201902011150_MGA94_55,433882,5824840,2019-01-02 11:50:00,2019-01-02 00:50:00,0
997,1997,JORDAN_294_P1_201902011150_MGA94_55,429901,5832712,2019-01-02 11:50:00,2019-01-02 00:50:00,0
998,1998,JORDAN_294_P1_201902011150_MGA94_55,430063,5830582,2019-01-02 11:50:00,2019-01-02 00:50:00,0
999,1999,JORDAN_294_P1_201902011150_MGA94_55,434723,5821075,2019-01-02 11:50:00,2019-01-02 00:50:00,0

# W313

In [23]:
file = pd. ExcelFile('sub.xlsx')
w313 = pd. read_excel(file, 'w313')
walhalla313 = pd. read_excel(file, 'walhalla313')

In [24]:
w313

,ObjectID *,Shape *,FID_w313,targetid,label,x,y,dateTimeLocal,dateTimeUTC,target,...,Source,SourceName,Type,dtString,Comments,dtUTC,dtLocal,ID,event,Shape_Leng
0,373,Point,1,2000,WALHALLA_313_P1_201902020733_MGA94_55,458876,5804531,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
1,333,Point,2,2001,WALHALLA_313_P1_201902020733_MGA94_55,457629,5804150,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
2,10,Point,3,2002,WALHALLA_313_P1_201902020733_MGA94_55,459602,5801349,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
3,367,Point,4,2003,WALHALLA_313_P1_201902020733_MGA94_55,458703,5804479,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
4,74,Point,5,2004,WALHALLA_313_P1_201902020733_MGA94_55,459436,5802070,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,176,Point,953,2952,WALHALLA_313_P1_201902020733_MGA94_55,457259,5803053,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
370,185,Point,985,2984,WALHALLA_313_P1_201902020733_MGA94_55,459418,5803127,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
371,374,Point,987,2986,WALHALLA_313_P1_201902020733_MGA94_55,457476,5804620,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
372,275,Point,999,2998,WALHALLA_313_P1_201902020733_MGA94_55,459344,5803800,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157
373,361,Point,1000,2999,WALHALLA_313_P1_201902020733_MGA94_55,459090,5804399,2019-02-02 07:33:00,2019-01-02 20:33:00,<Null>,...,Linescan,WALHALLA_339_P1_201902030520_MGA94_55,Main run,2019-02-03 05:19:59,,2019-02-02 18:19:59,2019-02-03 05:19:59,1657,Walhalla,20746.231157

In [25]:
x313cord_list = w313['x'].to_list()
# len(xcord_list)
x313cord_list
y313cord_list = w313['y'].to_list()
# len(xcord_list)
y313cord_list

[5804531,
 5804150,
 5801349,
 5804479,
 5802070,
 5803195,
 5804144,
 5803519,
 5801984,
 5803963,
 5802806,
 5803275,
 5802801,
 5802571,
 5802602,
 5804085,
 5804001,
 5802754,
 5802760,
 5801258,
 5802216,
 5802701,
 5804056,
 5801942,
 5802296,
 5801998,
 5801955,
 5803845,
 5802860,
 5803659,
 5803403,
 5801926,
 5804527,
 5804325,
 5803250,
 5804311,
 5804314,
 5801965,
 5802635,
 5802139,
 5803250,
 5802779,
 5803506,
 5804360,
 5803889,
 5802146,
 5803510,
 5802557,
 5801252,
 5802510,
 5804276,
 5801322,
 5801569,
 5803619,
 5803208,
 5804096,
 5801977,
 5803812,
 5804267,
 5803934,
 5803989,
 5802205,
 5802503,
 5803353,
 5804094,
 5802423,
 5801890,
 5803828,
 5801688,
 5804007,
 5803320,
 5802247,
 5803796,
 5803810,
 5804400,
 5803475,
 5803372,
 5802619,
 5801710,
 5802840,
 5803376,
 5801895,
 5802874,
 5802167,
 5804257,
 5804273,
 5804025,
 5801836,
 5803656,
 5803632,
 5804132,
 5801248,
 5802449,
 5804103,
 5801475,
 5804439,
 5802233,
 5802056,
 5801929,
 5801408,
 5802949,
 5802527,
 5801861,
 5802661,
 5802147,
 5802028,
 5802577,
 5803657,
 5802817,
 5802424,
 5802566,
 5802677,
 5804089,
 5801510,
 5804089,
 5802243,
 5802061,
 5804471,
 5803651,
 5801410,
 5802713,
 5802613,
 5803298,
 5802787,
 5803276,
 5803109,
 5804062,
 5802300,
 5802890,
 5802483,
 5803943,
 5801837,
 5803604,
 5801570,
 5802719,
 5804072,
 5801996,
 5803292,
 5801371,
 5803103,
 5803313,
 5802700,
 5803772,
 5802926,
 5804258,
 5802776,
 5804008,
 5804167,
 5803279,
 5803743,
 5804189,
 5801211,
 5801455,
 5802586,
 5801654,
 5803359,
 5804293,
 5803853,
 5803339,
 5804023,
 5803946,
 5801905,
 5803020,
 5804048,
 5803723,
 5802015,
 5802929,
 5804085,
 5803976,
 5801434,
 5801990,
 5802558,
 5803817,
 5803113,
 5801293,
 5803830,
 5802665,
 5803556,
 5801881,
 5803339,
 5804053,
 5804431,
 5801988,
 5803935,
 5803408,
 5801935,
 5801840,
 5801730,
 5803502,
 5803405,
 5802532,
 5802599,
 5802016,
 5803928,
 5803137,
 5802232,
 5803708,
 5802918,
 5803110,
 5801210,
 5803693,
 5803884,
 5803191,
 5804028,
 5804486,
 5801694,
 5804224,
 5803593,
 5803916,
 5802286,
 5802010,
 5803307,
 5802802,
 5804045,
 5804088,
 5802085,
 5802841,
 5803463,
 5801272,
 5802837,
 5804100,
 5801786,
 5804091,
 5804187,
 5803675,
 5801782,
 5803431,
 5803790,
 5803608,
 5803381,
 5803517,
 5803679,
 5801516,
 5804119,
 5801823,
 5802622,
 5802396,
 5801831,
 5802150,
 5804150,
 5802210,
 5804014,
 5802839,
 5803616,
 5803739,
 5802855,
 5804486,
 5803682,
 5802163,
 5803307,
 5804522,
 5804197,
 5804127,
 5803211,
 5804021,
 5802791,
 5803236,
 5802560,
 5804355,
 5802271,
 5803242,
 5802492,
 5803231,
 5803840,
 5802552,
 5803396,
 5804225,
 5801600,
 5803658,
 5804015,
 5803180,
 5803527,
 5804343,
 5801815,
 5801556,
 5801996,
 5802463,
 5802249,
 5803749,
 5802940,
 5804351,
 5802145,
 5802776,
 5801323,
 5801387,
 5803923,
 5801894,
 5801405,
 5802038,
 5801931,
 5802099,
 5802882,
 5802086,
 5801897,
 5803592,
 5804169,
 5803531,
 5803374,
 5804201,
 5802895,
 5803819,
 5803462,
 5803083,
 5802760,
 5803055,
 5802925,
 5804222,
 5802206,
 5803862,
 5802794,
 5804088,
 5801939,
 5802503,
 5803479,
 5803136,
 5803215,
 5801873,
 5802704,
 5804323,
 5803425,
 5803054,
 5801594,
 5801378,
 5802332,
 5804317,
 5802513,
 5803163,
 5803411,
 5802816,
 5802813,
 5801432,
 5803718,
 5802616,
 5803833,
 5804057,
 5803346,
 5802462,
 5803351,
 5802496,
 5801749,
 5803640,
 5804181,
 5803346,
 5804464,
 5804349,
 5803250,
 5801421,
 5803366,
 5802161,
 5803554,
 5802558,
 5803212,
 5802134,
 5802774,
 5803445,
 5803850,
 5802834,
 5802462,
 5804512,
 5803174,
 5803932,
 5803974,
 5803105,
 5802904,
 5801647,
 5803445,
 5803569,
 5803206,
 5803273,
 5803053,
 5803127,
 5804620,
 5803800,
 5804399]

In [26]:
walhalla313

,id,label,x,y,dateTimeLocal,dateTimeUTC
0,2000,WALHALLA_313_P1_201902020733_MGA94_55,458876,5804531,2019-02-02 07:33:00,2019-01-02 20:33:00
1,2001,WALHALLA_313_P1_201902020733_MGA94_55,457629,5804150,2019-02-02 07:33:00,2019-01-02 20:33:00
2,2002,WALHALLA_313_P1_201902020733_MGA94_55,459602,5801349,2019-02-02 07:33:00,2019-01-02 20:33:00
3,2003,WALHALLA_313_P1_201902020733_MGA94_55,458703,5804479,2019-02-02 07:33:00,2019-01-02 20:33:00
4,2004,WALHALLA_313_P1_201902020733_MGA94_55,459436,5802070,2019-02-02 07:33:00,2019-01-02 20:33:00
...,...,...,...,...,...,...
995,2995,WALHALLA_313_P1_201902020733_MGA94_55,457685,5801625,2019-02-02 07:33:00,2019-01-02 20:33:00
996,2996,WALHALLA_313_P1_201902020733_MGA94_55,456728,5801387,2019-02-02 07:33:00,2019-01-02 20:33:00
997,2997,WALHALLA_313_P1_201902020733_MGA94_55,460610,5801977,2019-02-02 07:33:00,2019-01-02 20:33:00
998,2998,WALHALLA_313_P1_201902020733_MGA94_55,459344,5803800,2019-02-02 07:33:00,2019-01-02 20:33:00
999,2999,WALHALLA_313_P1_201902020733_MGA94_55,459090,5804399,2019-02-02 07:33:00,2019-01-02 20:33:00

In [27]:
walhalla313['target'] = np.where( (walhalla313['x'].isin(x313cord_list) & (walhalla313['y'].isin(y313cord_list) )), 1, 0)

In [28]:
walhalla313

,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,2000,WALHALLA_313_P1_201902020733_MGA94_55,458876,5804531,2019-02-02 07:33:00,2019-01-02 20:33:00,1
1,2001,WALHALLA_313_P1_201902020733_MGA94_55,457629,5804150,2019-02-02 07:33:00,2019-01-02 20:33:00,1
2,2002,WALHALLA_313_P1_201902020733_MGA94_55,459602,5801349,2019-02-02 07:33:00,2019-01-02 20:33:00,1
3,2003,WALHALLA_313_P1_201902020733_MGA94_55,458703,5804479,2019-02-02 07:33:00,2019-01-02 20:33:00,1
4,2004,WALHALLA_313_P1_201902020733_MGA94_55,459436,5802070,2019-02-02 07:33:00,2019-01-02 20:33:00,1
...,...,...,...,...,...,...,...
995,2995,WALHALLA_313_P1_201902020733_MGA94_55,457685,5801625,2019-02-02 07:33:00,2019-01-02 20:33:00,0
996,2996,WALHALLA_313_P1_201902020733_MGA94_55,456728,5801387,2019-02-02 07:33:00,2019-01-02 20:33:00,0
997,2997,WALHALLA_313_P1_201902020733_MGA94_55,460610,5801977,2019-02-02 07:33:00,2019-01-02 20:33:00,0
998,2998,WALHALLA_313_P1_201902020733_MGA94_55,459344,5803800,2019-02-02 07:33:00,2019-01-02 20:33:00,1
999,2999,WALHALLA_313_P1_201902020733_MGA94_55,459090,5804399,2019-02-02 07:33:00,2019-01-02 20:33:00,1

# W353 NEW6

In [96]:
file = pd. ExcelFile('sub.xlsx')
w353new6 = pd. read_excel(file, 'w353new6')

In [97]:
w353new6

,ObjectID *,Shape *,x,y,xnew,ynew,F5,F6,F7,F8,F9,F10,F11,F12,F13,xold,yold,xnewold,ynewold
0,1,Point,457193,5800092,3772.662631,-6314.453191,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,448145,5815235,-0.5,0.5
1,2,Point,458264,5802853,4219.286988,-5163.057447,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,469125,5794085,8748.5,-8819.5
2,3,Point,459595,5802087,4774.335558,-5482.495745,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
3,4,Point,457524,5800069,3910.694995,-6324.044681,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
4,5,Point,459132,5798938,4581.257054,-6795.695745,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,922,Point,460804,5802569,5278.508151,-5281.491489,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
488,930,Point,460644,5801636,5211.785558,-5670.572340,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
489,954,Point,461512,5798913,5573.755624,-6806.121277,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
490,955,Point,460535,5799155,5166.330791,-6705.202128,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>
491,995,Point,459955,5797391,4924.461392,-7440.827660,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>,<Null>

In [98]:
x353new6cord_list = w353new6['x'].to_list()
# len(xcord_list)
x353new6cord_list
y353new6cord_list = w353new6['y'].to_list()
# len(xcord_list)
y353new6cord_list

[5800092,
 5802853,
 5802087,
 5800069,
 5798938,
 5803424,
 5802477,
 5799370,
 5800879,
 5798871,
 5798662,
 5799628,
 5803596,
 5802020,
 5800861,
 5798751,
 5798881,
 5802661,
 5800322,
 5802392,
 5802792,
 5803322,
 5799112,
 5799479,
 5798894,
 5798291,
 5798361,
 5800135,
 5801049,
 5799779,
 5798590,
 5801299,
 5799445,
 5800131,
 5800665,
 5804019,
 5802914,
 5798569,
 5800539,
 5800242,
 5797050,
 5799239,
 5801329,
 5802665,
 5804328,
 5799118,
 5799908,
 5802274,
 5799963,
 5800636,
 5801455,
 5802695,
 5801250,
 5802752,
 5802863,
 5800638,
 5798678,
 5803755,
 5804604,
 5802725,
 5803412,
 5799810,
 5797859,
 5800454,
 5801632,
 5802379,
 5802883,
 5802936,
 5802719,
 5802899,
 5804479,
 5803824,
 5802705,
 5803469,
 5797265,
 5800191,
 5804463,
 5805229,
 5799783,
 5803727,
 5799343,
 5802374,
 5802138,
 5803971,
 5801647,
 5800395,
 5802722,
 5798952,
 5804586,
 5799288,
 5798896,
 5803466,
 5798516,
 5799905,
 5799756,
 5804460,
 5804206,
 5799196,
 5799788,
 5799164,
 5803039,
 5804561,
 5799112,
 5800092,
 5800713,
 5801612,
 5799592,
 5802241,
 5799474,
 5804865,
 5799594,
 5798333,
 5804280,
 5801244,
 5799177,
 5801533,
 5799465,
 5801980,
 5800175,
 5799162,
 5801498,
 5801837,
 5803372,
 5801099,
 5802614,
 5803662,
 5801329,
 5798085,
 5797770,
 5801556,
 5799425,
 5804786,
 5803130,
 5801671,
 5798164,
 5800024,
 5800447,
 5798776,
 5799242,
 5799600,
 5801260,
 5799697,
 5803402,
 5800446,
 5800774,
 5800448,
 5799472,
 5801078,
 5799387,
 5802094,
 5797186,
 5802948,
 5797909,
 5803838,
 5800702,
 5802690,
 5803093,
 5803065,
 5799294,
 5801000,
 5800052,
 5799749,
 5800025,
 5802462,
 5803132,
 5802847,
 5804272,
 5796970,
 5798487,
 5803983,
 5798874,
 5797580,
 5798585,
 5798366,
 5803877,
 5803200,
 5797747,
 5803350,
 5799759,
 5803767,
 5799032,
 5801519,
 5801492,
 5799721,
 5803009,
 5802477,
 5800976,
 5802586,
 5802538,
 5802718,
 5800234,
 5801629,
 5804073,
 5798753,
 5802321,
 5799326,
 5800751,
 5800806,
 5801574,
 5803846,
 5801816,
 5802915,
 5802130,
 5802364,
 5800681,
 5799022,
 5804023,
 5798728,
 5803498,
 5800546,
 5799766,
 5803141,
 5799899,
 5801772,
 5804571,
 5804087,
 5802048,
 5798393,
 5799196,
 5800913,
 5801990,
 5799593,
 5798120,
 5801416,
 5802582,
 5799486,
 5803595,
 5802787,
 5803198,
 5801795,
 5802167,
 5802031,
 5800053,
 5800255,
 5800444,
 5803425,
 5799016,
 5801360,
 5803549,
 5802090,
 5798579,
 5804778,
 5800877,
 5804569,
 5798521,
 5802699,
 5802546,
 5803973,
 5800798,
 5804018,
 5800556,
 5804555,
 5799444,
 5800360,
 5803383,
 5802209,
 5802460,
 5800171,
 5803180,
 5799177,
 5803157,
 5800520,
 5804609,
 5803212,
 5799677,
 5800540,
 5798689,
 5800006,
 5801177,
 5799297,
 5798366,
 5801967,
 5799361,
 5803534,
 5802622,
 5798565,
 5802679,
 5803489,
 5801607,
 5804510,
 5800472,
 5803152,
 5801730,
 5802780,
 5802049,
 5798507,
 5801276,
 5801330,
 5803129,
 5798484,
 5803118,
 5801516,
 5803770,
 5804202,
 5802191,
 5800934,
 5804604,
 5799846,
 5803930,
 5804485,
 5803834,
 5804164,
 5804177,
 5801173,
 5802752,
 5804654,
 5802153,
 5798811,
 5800222,
 5800273,
 5802411,
 5803129,
 5804342,
 5798920,
 5799627,
 5802414,
 5804906,
 5803953,
 5803005,
 5799305,
 5798325,
 5801962,
 5799431,
 5804276,
 5801971,
 5800640,
 5798298,
 5798016,
 5802626,
 5800519,
 5803785,
 5803076,
 5803223,
 5802345,
 5802738,
 5801832,
 5801423,
 5800258,
 5803974,
 5797913,
 5802536,
 5803214,
 5799458,
 5800473,
 5803178,
 5799097,
 5800822,
 5803807,
 5803088,
 5802867,
 5803263,
 5803592,
 5798177,
 5799911,
 5801821,
 5802602,
 5802336,
 5802494,
 5802266,
 5803817,
 5803597,
 5798303,
 5799241,
 5803946,
 5802456,
 5799730,
 5798506,
 5803188,
 5798393,
 5801495,
 5802842,
 5798569,
 5798794,
 5798908,
 5801544,
 5801658,
 5799037,
 5800464,
 5804774,
 5801927,
 5799412,
 5802554,
 5804297,
 5803026,
 5796786,
 5799910,
 5798530,
 5802743,
 5802215,
 5802706,
 5803669,
 5804198,
 5799430,
 5799677,
 5796985,
 5800198,
 5799960,
 5803797,
 5804149,
 5800644,
 5804011,
 5796985,
 5798444,
 5798056,
 5800692,
 5803860,
 5797042,
 5802125,
 5803478,
 5803560,
 5798860,
 5799817,
 5803796,
 5802390,
 5799313,
 5798654,
 5802597,
 5802985,
 5803407,
 5799066,
 5804009,
 5800604,
 5802484,
 5799492,
 5800109,
 5798002,
 5801206,
 5803559,
 5799336,
 5802450,
 5799582,
 5798514,
 5799201,
 5802920,
 5798976,
 5800815,
 5803043,
 5801475,
 5803423,
 5799359,
 5799425,
 5799199,
 5803802,
 5799240,
 5800997,
 5802748,
 5798721,
 5801582,
 5799475,
 5800553,
 5799325,
 5801074,
 5802104,
 5803469,
 5803704,
 5802953,
 5797862,
 5800885,
 5803158,
 5799940,
 5797557,
 5801654,
 5802136,
 5802111,
 5802137,
 5803385,
 5802130,
 5800139,
 5802212,
 5803441,
 5798296,
 5797526,
 5796906,
 5797447,
 5797463,
 5797961,
 5797208,
 5797844,
 5802229,
 5799138,
 5797255,
 5797543,
 5800732,
 5797189,
 5798343,
 5802935,
 5797543,
 5802569,
 5801636,
 5798913,
 5799155,
 5797391]

In [99]:
walhalla353new6 = pd. read_excel(file, 'walhalla353')

In [100]:
walhalla353new6['target'] = np.where( (walhalla353new6['x'].isin(x353new6cord_list) & (walhalla353new6['y'].isin(y353new6cord_list) )), 1, 0)

In [101]:
walhalla353new6

,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,3000,WALHALLA_353_P1_201902031625_MGA94_55,457193,5800092,2019-03-02 16:25:00,2019-03-02 05:25:00,1
1,3001,WALHALLA_353_P1_201902031625_MGA94_55,458264,5802853,2019-03-02 16:25:00,2019-03-02 05:25:00,1
2,3002,WALHALLA_353_P1_201902031625_MGA94_55,459595,5802087,2019-03-02 16:25:00,2019-03-02 05:25:00,1
3,3003,WALHALLA_353_P1_201902031625_MGA94_55,457524,5800069,2019-03-02 16:25:00,2019-03-02 05:25:00,1
4,3004,WALHALLA_353_P1_201902031625_MGA94_55,459132,5798938,2019-03-02 16:25:00,2019-03-02 05:25:00,1
...,...,...,...,...,...,...,...
995,3995,WALHALLA_353_P1_201902031625_MGA94_55,463611,5804106,2019-03-02 16:25:00,2019-03-02 05:25:00,0
996,3996,WALHALLA_353_P1_201902031625_MGA94_55,460754,5803882,2019-03-02 16:25:00,2019-03-02 05:25:00,0
997,3997,WALHALLA_353_P1_201902031625_MGA94_55,462812,5800143,2019-03-02 16:25:00,2019-03-02 05:25:00,0
998,3998,WALHALLA_353_P1_201902031625_MGA94_55,461904,5804808,2019-03-02 16:25:00,2019-03-02 05:25:00,0
999,3999,WALHALLA_353_P1_201902031625_MGA94_55,461867,5799215,2019-03-02 16:25:00,2019-03-02 05:25:00,0

# M91 NEW1

In [122]:
file = pd. ExcelFile('sub.xlsx')
m91new1 = pd. read_excel(file, 'm91new1')
macalister91new1 = pd. read_excel(file, 'macalister91')

In [123]:
m91new1

,ObjectID *,Shape *,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,1,Point,4000,MACALISTER91_648_P1_201903070444_MGA94_55,475218,5838892,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
1,2,Point,4003,MACALISTER91_648_P1_201903070444_MGA94_55,473144,5836266,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
2,3,Point,4004,MACALISTER91_648_P1_201903070444_MGA94_55,473627,5824503,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
3,4,Point,4008,MACALISTER91_648_P1_201903070444_MGA94_55,475239,5821041,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
4,5,Point,4009,MACALISTER91_648_P1_201903070444_MGA94_55,477073,5837216,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
...,...,...,...,...,...,...,...,...,...
409,410,Point,4987,MACALISTER91_648_P1_201903070444_MGA94_55,476237,5823911,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
410,411,Point,4989,MACALISTER91_648_P1_201903070444_MGA94_55,478712,5837159,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
411,412,Point,4992,MACALISTER91_648_P1_201903070444_MGA94_55,473393,5822421,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
412,413,Point,4994,MACALISTER91_648_P1_201903070444_MGA94_55,475062,5828591,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>
413,414,Point,4995,MACALISTER91_648_P1_201903070444_MGA94_55,478789,5826475,2019-07-03 04:44:00,2019-06-03 17:44:00,<Null>

In [124]:
x91new1cord_list = m91new1['x'].to_list()
# len(xcord_list)
x91new1cord_list
y91new1cord_list = m91new1['y'].to_list()
# len(xcord_list)
y91new1cord_list

[5838892,
 5836266,
 5824503,
 5821041,
 5837216,
 5824901,
 5835080,
 5831142,
 5825003,
 5837980,
 5838568,
 5828063,
 5832515,
 5838024,
 5833527,
 5825066,
 5838202,
 5821733,
 5832686,
 5838184,
 5836594,
 5826197,
 5839922,
 5830154,
 5840326,
 5828723,
 5823981,
 5834540,
 5837776,
 5840485,
 5828745,
 5834439,
 5839041,
 5837099,
 5829492,
 5833010,
 5837272,
 5841696,
 5833935,
 5834193,
 5830698,
 5840088,
 5828132,
 5837429,
 5832589,
 5840411,
 5824180,
 5834063,
 5833356,
 5827123,
 5836086,
 5825066,
 5836756,
 5827756,
 5834111,
 5836612,
 5831559,
 5833056,
 5830436,
 5838271,
 5837229,
 5831485,
 5834983,
 5825266,
 5834906,
 5829525,
 5834759,
 5838877,
 5827100,
 5838559,
 5828948,
 5839343,
 5834245,
 5822258,
 5819979,
 5830843,
 5838041,
 5834991,
 5837128,
 5834646,
 5832322,
 5827765,
 5833292,
 5832387,
 5834751,
 5839556,
 5835197,
 5831686,
 5825531,
 5837949,
 5839591,
 5822054,
 5826485,
 5836512,
 5835975,
 5839213,
 5823718,
 5827583,
 5828083,
 5837056,
 5838580,
 5834730,
 5837740,
 5831999,
 5835750,
 5828856,
 5820825,
 5834683,
 5833132,
 5834603,
 5834953,
 5838177,
 5828735,
 5833546,
 5824827,
 5830937,
 5833198,
 5834160,
 5828877,
 5823219,
 5833684,
 5839234,
 5834952,
 5841805,
 5827428,
 5830763,
 5839456,
 5834121,
 5834805,
 5837136,
 5836922,
 5837984,
 5830916,
 5837815,
 5830146,
 5836634,
 5830482,
 5835160,
 5829057,
 5824835,
 5835596,
 5834084,
 5827227,
 5837326,
 5837353,
 5824673,
 5821790,
 5834795,
 5826688,
 5840580,
 5821974,
 5827041,
 5838077,
 5839850,
 5838582,
 5832624,
 5829280,
 5832732,
 5820591,
 5837496,
 5824738,
 5838722,
 5828422,
 5836484,
 5837234,
 5827610,
 5827497,
 5830461,
 5836036,
 5838094,
 5838886,
 5822663,
 5839492,
 5834312,
 5830126,
 5836231,
 5823850,
 5832198,
 5840298,
 5835745,
 5834577,
 5833934,
 5831741,
 5834745,
 5831830,
 5827082,
 5827996,
 5823687,
 5831914,
 5829889,
 5825798,
 5837205,
 5820717,
 5822746,
 5829941,
 5832796,
 5837841,
 5832990,
 5837714,
 5829792,
 5837877,
 5830323,
 5837766,
 5831088,
 5831918,
 5827556,
 5830982,
 5826992,
 5839815,
 5836498,
 5826210,
 5829170,
 5838294,
 5823656,
 5833917,
 5838553,
 5833441,
 5838495,
 5833047,
 5836481,
 5838325,
 5830477,
 5836863,
 5839302,
 5829534,
 5832645,
 5834328,
 5831519,
 5835347,
 5825047,
 5832676,
 5827368,
 5831090,
 5830677,
 5831282,
 5839585,
 5839312,
 5836764,
 5830526,
 5830310,
 5827389,
 5837409,
 5838757,
 5830995,
 5837491,
 5828557,
 5837729,
 5837759,
 5839751,
 5820530,
 5829840,
 5826345,
 5820220,
 5838832,
 5826459,
 5837385,
 5839483,
 5830862,
 5831947,
 5830413,
 5826150,
 5832374,
 5820034,
 5831052,
 5827724,
 5832759,
 5829021,
 5828319,
 5839122,
 5836886,
 5832505,
 5838137,
 5837976,
 5827992,
 5822867,
 5831911,
 5820064,
 5824637,
 5839267,
 5840861,
 5834950,
 5836387,
 5824520,
 5832844,
 5828946,
 5833161,
 5835249,
 5836884,
 5830786,
 5830185,
 5838757,
 5823555,
 5833097,
 5835193,
 5821946,
 5828760,
 5830271,
 5838027,
 5832472,
 5838980,
 5832411,
 5836654,
 5834095,
 5823788,
 5833498,
 5838273,
 5825434,
 5839632,
 5829248,
 5837080,
 5830517,
 5834035,
 5834770,
 5838396,
 5835088,
 5837696,
 5832807,
 5833507,
 5830845,
 5829879,
 5829511,
 5837866,
 5837255,
 5833349,
 5833684,
 5835919,
 5824748,
 5829106,
 5827032,
 5832065,
 5834873,
 5832788,
 5827387,
 5824409,
 5832754,
 5825358,
 5826495,
 5838210,
 5837689,
 5837516,
 5840473,
 5833950,
 5838955,
 5836061,
 5826962,
 5823756,
 5839058,
 5837598,
 5835709,
 5834457,
 5825156,
 5835124,
 5830913,
 5830000,
 5822825,
 5831756,
 5837241,
 5836090,
 5833085,
 5827929,
 5840808,
 5833243,
 5826283,
 5826476,
 5828106,
 5833874,
 5828379,
 5823683,
 5828455,
 5835954,
 5830695,
 5837162,
 5829692,
 5838887,
 5837579,
 5831549,
 5837325,
 5829760,
 5826516,
 5834886,
 5834191,
 5838780,
 5840007,
 5827669,
 5838921,
 5841047,
 5832214,
 5837260,
 5833971,
 5833348,
 5824970,
 5839550,
 5829517,
 5833133,
 5827105,
 5834316,
 5832667,
 5836904,
 5835064,
 5837337,
 5825595,
 5835960,
 5831180,
 5830239,
 5825812,
 5823245,
 5834290,
 5833958,
 5830200,
 5823911,
 5837159,
 5822421,
 5828591,
 5826475]

In [125]:
macalister91new1

,id,label,x,y,dateTimeLocal,dateTimeUTC
0,4000,MACALISTER91_648_P1_201903070444_MGA94_55,475218,5838892,2019-07-03 04:44:00,2019-06-03 17:44:00
1,4001,MACALISTER91_648_P1_201903070444_MGA94_55,469152,5824026,2019-07-03 04:44:00,2019-06-03 17:44:00
2,4002,MACALISTER91_648_P1_201903070444_MGA94_55,478531,5841705,2019-07-03 04:44:00,2019-06-03 17:44:00
3,4003,MACALISTER91_648_P1_201903070444_MGA94_55,473144,5836266,2019-07-03 04:44:00,2019-06-03 17:44:00
4,4004,MACALISTER91_648_P1_201903070444_MGA94_55,473627,5824503,2019-07-03 04:44:00,2019-06-03 17:44:00
...,...,...,...,...,...,...
995,4995,MACALISTER91_648_P1_201903070444_MGA94_55,478789,5826475,2019-07-03 04:44:00,2019-06-03 17:44:00
996,4996,MACALISTER91_648_P1_201903070444_MGA94_55,470400,5845253,2019-07-03 04:44:00,2019-06-03 17:44:00
997,4997,MACALISTER91_648_P1_201903070444_MGA94_55,480548,5842533,2019-07-03 04:44:00,2019-06-03 17:44:00
998,4998,MACALISTER91_648_P1_201903070444_MGA94_55,473586,5815882,2019-07-03 04:44:00,2019-06-03 17:44:00
999,4999,MACALISTER91_648_P1_201903070444_MGA94_55,475119,5841922,2019-07-03 04:44:00,2019-06-03 17:44:00

In [126]:
macalister91new1['target'] = np.where( (macalister91new1['x'].isin(x91new1cord_list) & (macalister91new1['y'].isin(y91new1cord_list) )), 1, 0)

In [127]:
macalister91new1

,id,label,x,y,dateTimeLocal,dateTimeUTC,target
0,4000,MACALISTER91_648_P1_201903070444_MGA94_55,475218,5838892,2019-07-03 04:44:00,2019-06-03 17:44:00,1
1,4001,MACALISTER91_648_P1_201903070444_MGA94_55,469152,5824026,2019-07-03 04:44:00,2019-06-03 17:44:00,0
2,4002,MACALISTER91_648_P1_201903070444_MGA94_55,478531,5841705,2019-07-03 04:44:00,2019-06-03 17:44:00,0
3,4003,MACALISTER91_648_P1_201903070444_MGA94_55,473144,5836266,2019-07-03 04:44:00,2019-06-03 17:44:00,1
4,4004,MACALISTER91_648_P1_201903070444_MGA94_55,473627,5824503,2019-07-03 04:44:00,2019-06-03 17:44:00,1
...,...,...,...,...,...,...,...
995,4995,MACALISTER91_648_P1_201903070444_MGA94_55,478789,5826475,2019-07-03 04:44:00,2019-06-03 17:44:00,1
996,4996,MACALISTER91_648_P1_201903070444_MGA94_55,470400,5845253,2019-07-03 04:44:00,2019-06-03 17:44:00,0
997,4997,MACALISTER91_648_P1_201903070444_MGA94_55,480548,5842533,2019-07-03 04:44:00,2019-06-03 17:44:00,0
998,4998,MACALISTER91_648_P1_201903070444_MGA94_55,473586,5815882,2019-07-03 04:44:00,2019-06-03 17:44:00,0
999,4999,MACALISTER91_648_P1_201903070444_MGA94_55,475119,5841922,2019-07-03 04:44:00,2019-06-03 17:44:00,0

In [128]:
len(macalister91new1.loc[macalister91new1['target']==1])

414

## POLYSUB NEW 8

In [130]:
polysubnew8 = pd.concat([jordan235new, jordan294, walhalla313, walhalla353new6, macalister91new1], axis=0)

In [131]:
len(polysubnew8.loc[polysubnew8['target']==1])

1626

In [132]:
polysubnew8.to_csv('polysubnew_13th.csv')